.desc-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;
    width: 100vw;
    height: 100vh;
}

#back-button {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 5rem;
    height: 2rem;
    border: none;
    background: transparent;
    box-shadow: rgba(100, 100, 111, 0.392) 0px 7px 15px 0px;
}

.description img {
    width: 400px;
}

.description {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
    flex-direction: row;
    color: black;
    padding: 4vw;
    border-radius: 12px;
    /* box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px; */
    flex-wrap: wrap;
    box-sizing:border-box;
}

.description button {
    width: 5.5rem;
    height: 2rem;
    border: none;
    border-radius: 10px;
    background: transparent;
    box-shadow: rgba(100, 100, 111, 0.392) 0px 7px 15px 0px;
}
.description-text{
    display: flex;
    flex-direction: column;
    height: 20vw;
}
.borders{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding:2vw;
    gap:1rem
}

.borders-container{
    display: flex;
    flex-direction: row;
}