
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
}

.App{
  margin: 0;
  height: 100%;
}

.header{
  margin: 0;
  width: 100vw;
  height: 5vw;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50vw;
  box-shadow: rgba(24, 24, 27, 0.392) 0px 3px 10px 0px;
}

/* titres */
.bold{
  font-weight: bold;
}
.light{
  font-weight:lighter;
}

.header a {
  text-decoration: none;
  color:rgb(0, 0, 0);
  padding-top: 1vw;
}

.lightMode{
  margin: 0;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 100%;

}
.darkMode{
  margin: 0;
  background: rgb(44,55,67);
  color: white;
  height: 100%;
}
.darkMode a, .darkMode button, .darkMode div {
  color: white;
}


/* Masquer le contenu sur les petits écrans */
.desktop-content {
  display: block;
}

/* Masquer le message mobile sur les grands écrans */
.mobile-message {
  display: none;
}

/* Médias queries pour les écrans mobiles */
@media (max-width: 768px) {
  /* Masquer le contenu desktop */
  .desktop-content {
    display: none;
  }

  /* Afficher le message pour les utilisateurs mobiles */
  .mobile-message {
    display: block;
    text-align: center;
    padding: 20px;
    background-color: #f44336;  /* Rouge */
    color: white;
    font-size: 1.2rem;
  }
}
