.header{
  width: 100vw;
  height: 4vw;
  /* background: navy; */
  /* color:white; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header a{
  text-decoration: none;
  color:white;
  padding-top: 1vw;
}

.App.darkMode{
  background: rgb(44,55,67);
  color: white;
}