*{
  padding: 0;
  margin: 0;
}

.App{
  margin: 0;
  height: 100vh;
}
.header{
  margin: 0;
  width: 100vw;
  height: 5vw;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50vw;
  box-shadow: rgba(24, 24, 27, 0.392) 0px 3px 10px 0px;
}

/* titres */
.bold{
  font-weight: bold;
}
.light{
  font-weight:lighter;
}

.header a{
  text-decoration: none;
  color:white;
  padding-top: 1vw;
}

.darkMode{
  margin: 0;
  background: rgb(44,55,67);
  color: white;
  height: 100vh;
}